minecraft:acacia_planks=5:4
minecraft:air=0:0
minecraft:birch_planks=5:2
minecraft:black_concrete=251:15
minecraft:dark_oak_planks=5:5
minecraft:dirt=3:0
minecraft:glowstone=1:1
minecraft:grass=2:0
minecraft:gray_concrete=251:7
minecraft:gray_stained_glass=95:7
minecraft:light_blue_concrete=252:3
minecraft:light_gray_concrete=252:8
minecraft:oak_planks=5:0
minecraft:polished_diorite=1:4
minecraft:purple_stained_glass=95:10
minecraft:quartz_block=155:0
minecraft:red_tulip=38:4
minecraft:sand=12:0
minecraft:smooth_quartz=43:0#mc13才有的 现有版本不支持
minecraft:spruce_planks=5:1
minecraft:white_concrete=251:0
minecraft:white_stained_glass=95:0
